### Data Science tools

in this notebook, data science tools summry

In [ ]:
some of the pupolar language :
1- python
2-R
3-SQL

In [ ]:
some of commonly used library
1- Numpy
2-keras
3- pandas

|Data Science Tools|
|---| 
|SAS|
|Apache HAdoop|
|TensorFlow|

### Below are a few Exmples:

In [2]:
#this is a common arithmetic example to multiply and then add integers
(5*6)+4

34

In [3]:
#this will convert 200 miny=utes to hours by divinh by 60
200/60

3.3333333333333335

__Objective__
* List popular langues for data scince 
* list popular libraries for data science 
* list of well known data Scince tools
* How to pri=ovide comments in the cell

## Author 
Lulu